<div id="main">
  <div id="intro">
    <div class="intro-message soudan-btn-show">
      <h2>どんなメッセージを返したらいいか<span class="pc-br">迷ってませんか？</span></h2>
      <p>このアプリでは、メッセージの返信に困っているあなたをお助けします。</p>
      <ul>
        <li>「マッチングアプリでやりとり中のお相手を誘いたい」</li>
        <li>「営業メールで相手先に好印象を与えたい」</li>
        <li>「先輩の怒りを納めるにはどう謝ればいいのか」</li>
      </ul>
      <p>そんな悩めるあなた、いますぐみんなに相談しましょう</p>
    </div>
    <ul class="image-anime">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
  </div>
  <div id ="use1" class="container scroll-btn-show">
    <h2>相談に乗ってほしいあなたへ</h2>
      <div class="use-left use">
        <h3><span class="num">01</span>悩んだらまず相談</h3>
        <div class="text">メール＆メッセージに関する悩み事がある場合は<br/>ページ下の【メッセージ相談】からお悩みの内容を<br/>投稿しましょう</div>
        <div class="image"><%= image_tag 'use1-1.png' %></div>
      </div>
      <div class="use-right use">
        <h3><span class="num">02</span>アドバイスを受けよう</h3>
        <div class="image"><%= image_tag 'use1-2.png' %></div>
        <div class="text">相談一覧の自分のお悩みをクリック！<br/>他のユーザーさんたちがお悩みに答えてくれます。<br/><br/>
        【レジェンドティーチャー】と記されているユーザーさんはお悩み相談の達人です。ためになる回答をしてくれているので積極的に耳を傾けましょう</div>
      </div>
      <div class="use-left use">
        <h3><span class="num">03</span>ためになる回答には積極的に「いいね！」ボタンをクリック</h3>
        <div class="text">参考になる回答をしてくれたユーザーさんにはお礼の気持ちをこめて<i class="fa fa-heart like-btn1"></i>ボタンをクリック。<br/>
        モチベーションにもつながるので積極的にクリックしてあげましょう</div>
        <div class="image"><%= image_tag 'use1-3.png' %></div>
      </div>
      <div class="use-right use">
        <h3><span class="num">04</span>お悩みが解決できたらお礼を言って相談を終了</h3>
        <div class="image"><%= image_tag 'use1-4.png' %></div>
        <div class="text">たくさんのアドバイスを参考にして問題が解決できたら、最後は【相談を終了する】をクリック。<br><br>
        その前にメッセージボードに、アドバイスをくれた皆さんに向けて「ありがとうございました」とお礼の一言を書き込みましょう！</div>
      </div>
  </div>
  <div id ="use2" class="container">
      <h2>相談に乗ってくれるあなたへ</h2>
      <div class="use-left use">
        <h3><span class="num">01</span>相談に乗ってあげたいお悩みを見つけて答えてあげよう</h3>
        <div class="text">ページ下の相談一覧から、気になる相談内容をクリック。<br/>相談内容をきっちり読んで、メッセージフォームからアドバイスを送ってあげましょう</div>
        <div class="image"><%= image_tag 'use2-1.png' %></div>
      </div>
      <div class="use-right use">
        <h3><span class="num">02</span>アドバイス回答に「いいね！」を貰おう！</h3>
        <div class="image"><%= image_tag 'use2-2.png' %></div>
        <div class="text">
          ためになる素敵な回答をすると、他のユーザーさんから「いいね！」をもらう事ができます。<br/>
          「いいね！」をたくさんもらうと【レジェンドティーチャー】の称号が貰えます。<br/>
          そしたらあなたは立派なお悩み相談の達人です！
        </div>
      </div>
      <div class="use-left use">
        <h3><span class="num">03</span>「いいね！」をたくさん貰って賞品と交換しよう！</h3>
        <div class="text">
          「いいね！」を１つ貰うごとに、アドバイスポイント(AP)が1ポイント貯まります。<br/>
          APを貯めるごとに素敵な賞品と交換できます。
          たくさん相談に答えて素敵な賞品をGETしましょう！</div>
        <div class="image"><%= image_tag 'use2-3.png' %></div>
      </div>      
  </div>
  <div id ="legend" class="container">
    <h2>Legend Teacher</h2>
    <p>相談内容の評価が高いユーザーの方々です</p>
  <div class="swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @users.each do |user| %>
            <% if user.like_point >= 5 %>
              <div class="swiper-slide">
              <%= link_to (user_path(user.id)) do %>
                <div class="member">
                  <p>
                    <% if user.prof_image.attached? %>
                      <%= image_tag user.prof_image %>
                    <% else %>
                      <%= image_tag 'prof-no-image.png' %>
                    <% end %>
                  </p>            
                  <p><%= user.nickname %></p>
                </div>
              <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="swiper-button">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
  </div>

  </div>
  <div id ="show" class="container">
    <h2>相談一覧</h2>
    <%= link_to 'メッセージの相談をする', new_question_path, id:"new-question" %>

      <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "相談内容を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>

    <div id="question-table">
      <% @questions.reverse_each do |question| %>
        <% unless question.close %>
          <%= link_to (question_path(question.id)) do %>
            <div class="post">
              <p class="title"><%= question.title %></p>
              <p class="category category-<%= question.category_id %>"><%= question.category[:name] %></p>
              <p class="comment-icon">
                <i class="fas fa-comment-dots fa-fw fa-lg"></i>
                <%= question.comments.count %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
   <div id="closed">
    <h2>終了した相談</h2>
    <div id="question-table">
      <% @questions.reverse_each do |question| %>
        <% if question.close %>
          <%= link_to (question_path(question.id)) do %>
            <div class="post">
              <p class="title"><%= question.title %></p>
              <p class="category category-<%= question.category_id %>"><%= question.category[:name] %></p>
              <p class="comment-icon">
                <i class="fas fa-comment-dots fa-fw fa-lg"></i>
                <%= question.comments.count %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
   </div>

  </div>
</div>

<div id="page_top"><a href=""></a></div>
<div id="soudan-scroll"><%= link_to '今すぐ相談する', new_question_path %></div>

<script>
  const swiper = new Swiper('.swiper-container', {
    loop: true,
    slidesPerView: 6,
    spaceBetween: 15,
    centeredSlides : true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3400,
    },
    breakpoints: {
      1100: {
        slidesPerView: 5,
        spaceBetween: 10
      },
      770: {
        slidesPerView: 4,
        spaceBetween: 10
      },
      606: {
        slidesPerView: 2,
        spaceBetween: 10
      }
    }
  });
</script>