<div id="question">
  <h2>添削希望メッセージの投稿</h2>
    <%= form_with model: @question_message, url: questions_path, local: true do |f| %>
      <div class="field">
        <label class="form-text">相談タイトル</label>
        <%= f.text_area :title, autofocus: true %>
      </div>

      <div class="field">
        <label class="form-text">相談したいジャンル</label>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
      </div>

      <div class="field">
        <label class="form-text">相談したい内容</label>
        <%= f.text_area :outline, autofocus: true %>
      </div>

      <div class="field">
        <label class="form-text">相談したい内容content</label>
        <%= f.text_area :content, autofocus: true %>
      </div>

      <div class="field">
        <label class="form-text">LINE・メールの現状</label>
        <%= f.collection_select(:who_id, Who.all, :id, :name, {}, {class:"select-box"}) %>
        <%= f.text_area :sentence, autofocus: true %>
      </div>

      <div class="field">
        <label class="form-text">LINE・メールの現状2</label>
        <%= f.collection_select(:who_id, Who.all, :id, :name, {}, {class:"select-box"}) %>
        <%= f.text_area :sentence, autofocus: true %>
      </div>

      <div class="submit">
        <%= f.submit "送信", class:"submit-btn" %>
      </div>
    <% end %>
</div>