<div id="q-tensaku" class="box">
  <div class="column-left">
    <div class="top-info">
      <div class="user">
      <p>
      <% if @question.user.prof_image.attached? %>
        <%= image_tag @question.user.prof_image %>
      <% else %>
        <%= image_tag 'prof-no-image.png' %>
      <% end %>        
      </p>
      
      <%# <% if user_signed_in? && current_user.id == @question.user_id %>
      <%# 相談内容を編集する %>
      <%# <% end %>
      
      </div>
      <div class="title">
      <%= @question.title %>
      <p class="user-name">相談者：<%= link_to "#{@question.user.nickname}さん", user_path(@question.user.id) %></p>
      </div>
    </div>

    <p class="headline">相談概要</p>
    <div class="outline">
      <input id='leer' type="checkbox"/>
      <label for="leer"></label>
      <div class="expand">
        <span class='content'>
          <%= @question.outline %>
        </span>
      </div>
    </div>

    <div id="scroll">
    <p class="headline">LINE・メールの現状</p>
    <div class="sentence">    
      <% @messages.each do |message| %>
        <div class="sentence-<%= message.who_id %>">
          <div class="faceicon">
            <img src="/assets/sentence-<%= message.who_id %>.png">
          </div>
          <div class="chatting">
            <p class="who"><%= message.who[:name] %></p>
            <div class="says">
              <p><%= message.sentence %></p>
            </div>  
          </div>
        </div>
      <% end %>
        <div class="sentence-1 sentence-1-margin">
          <div class="faceicon">
            <img src="/assets/sentence-1.png">
          </div>
          <div class="chatting">
            <p class="who">自分</p>
            <div class="says advice">
              <p class="tensaku-point keyframe animation">ココの文章のアドバイスをください!!</p>
            </div>  
          </div>
        </div>
    </div>
    </div>
  </div> 
  <div class="column-right">
    <p class="headline minna-tensaku">
      <span>みんなのアドバイス</span>
      <span class="comment-link"><%= link_to "アドバイスを送る", anchor: "comment-submit" %></span>
    </p>
    <div id="comments">
      <% @comments.each do |comment| %>
      <div class="comment">
        <p class="name">
        <%= @comment_num += 1 %>: <%= link_to "#{comment.user.nickname}さん", user_path(comment.user.id) %>
        <% if comment.user.like_point >= 5 %><span class="legend-icon">レジェンドティーチャー</span><% end %>
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
        <% if comment.user.like_point >= 5 %>
          <p class="text legend-text"><%= comment.text %></p>
        <% else %>
          <p class="text"><%= comment.text %></p>
        <% end %>
        <div class="like">       
          <span id="comment_<%= comment.id %>">
            <%= render 'comment_likes/comment_like', comment: comment %>
          </span>
        </div>
      </div>
      <% end %>
    </div>
    <div id="comment-submit">
      <%= form_with(model: [@question, @comment], local: true) do |f| %>
        <%= f.text_area :text, class:"comment-text" %>
        <button type="submit" class="comment-btn">
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <span>コメントする<span>
        </button>
      <% end %>
    </div>
  </div>
</div>