<div id="devise">
  <h2>新規登録</h2>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <% if @minimum_password_length %>
      <p>(<%= @minimum_password_length %> 文字以上 ※英字と数字の両方を含めて設定してください)</p>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
        <div class="form-text-wrap">
        <label class="form-text">パスワード(確認)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">ニックネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="img-upload">
      <div class="weight-bold-text">
        プロフィール画像
        <span class="indispensable">必須</span>
        <div id="image-list"></div>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :prof_image, id:"item-image" %>
      </div>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">年齢</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box"}) %>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">性別</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box"}) %>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">職業</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {}, {class:"select-box"}) %>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">肩書き・キャッチコピー</label>
      </div>
      <%= f.text_field :position, autofocus: true %>
    </div>

    <div class="field">
      <div class="form-text-wrap">
        <label class="form-text">簡単な自己紹介</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :pr, autofocus: true %>
    </div>

    <div class="submit">
      <%= f.submit "会員登録", class:"submit-btn" %>
    </div>
  <% end %>
</div>