<div id="user-prof" class="box">
  <h2 class="under-line">ユーザー情報</h2>
  <div class="prof-top">
    <div class="image">
      <% if @user.prof_image.attached? %>
        <%= image_tag @user.prof_image %>
      <% else %>
        <%= image_tag 'prof-no-image.png' %>
      <% end %>
    </div>
    <div class="text">
      <p class="position">
          <% if @user.like_point >= 5 %>
            <p class="legend-icon">レジェンドティーチャー</p>
          <% end %>
      </p>
      <p>ニックネーム：<%= @user.nickname %></p>
      <p>年齢：<%= @user.age[:name] %></p>
      <p>性別：<%= @user.gender[:name] %></p>
      <p>職業：<%= @user.occupation[:name] %></p>
      <p>AP：<%= @user.like_point %> pt
        <% if user_signed_in? && @user.id == current_user.id %>
          <%= link_to 'ポイントを商品と交換する', "#", class:"pt-change" %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="pr text-box">
    <p class="title">自己紹介</p>
    <%= @user.pr %>
  </div>
  <div class="now-question text-box">
    <p class="title">現在相談中の内容</p>
  </div>
  <div class="archive text-box">
    <p class="title">これまでにアドバイスした相談</p>
  </div>
</div>

<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to 'プロフィールを編集する', edit_user_registration_path, id:"prof-edit" %>
  <%= link_to '退会する', user_registration_path, method: :delete, id:"prof-destroy", data: { confirm: "【確認】本当に退会しますか？" } %>
<% end %>
