<div id="user-prof">
  <h2>ユーザー情報</h2>
  <div class="prof-top">
    <div class="image">
      <%= image_tag @user.prof_image %>
    </div>
    <div class="text">
      <p class="position"><%= @user.position %></p>
      <p>ニックネーム：<%= @user.nickname %></p>
      <p>年齢：<%= @user.age[:name] %></p>
      <p>性別：<%= @user.gender[:name] %></p>
      <p>職業：<%= @user.occupation[:name] %></p>
      <p>獲得ポイント：<%= @like_count %> pt</p>
    </div>
  </div>
  <div class="pr">
    <p class="title">自己紹介</p>
    <%= @user.pr %>
  </div>
  <div class="now-question">
    <p class="title">現在相談中の内容</p>
  </div>
  <div class="archive">
    <p class="title">これまでに添削した相談</p>
  </div>
</div>

<%= link_to 'プロフィールを編集する', edit_user_registration_path, id:"prof-edit" %>
<%= link_to '退会する', root_path, id:"prof-destroy" %>



