<div id="devise" class="box">
  <h2>ログイン</h2>

  <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>

  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post%>
  <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post%>

    <div class="field">
      <div class="label"><label class="form-text">メールアドレス</label></div>
      <div class="form"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"f_form" %></div>
    </div>

    <div class="field">
      <div class="label"><label class="form-text">パスワード</label></div>
      <div class="form"><%= f.password_field :password, autocomplete: "current-password", class:"f_form" %></div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <label class="form-text">IDとパスワードを記憶する</label>
      </div>
    <% end %>

    <div class="submit">
      <%= f.submit "ログイン", class:"submit-btn" %>
    </div>
  <% end %>
</div>
